@import "tailwindcss";

:root {
  --background: #1c1a23;
  --foreground: #ffffff;
}

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

body {
  background: var(--background);
  color: var(--foreground);
}

.scrollbar-hide {
  -ms-overflow-style: none !important;
  /* IE and Edge */
  scrollbar-width: none !important;
  /* Firefox */
}

.scrollbar-hide::-webkit-scrollbar {
  display: none !important;
  /* Chrome, Safari and Opera */
  width: 0 !important;
  height: 0 !important;
  background: transparent !important;
}